#!/bin/bash

# Name of the spring-boot application to run, see ./application.yml
export APP_ID=jira

# API Endpoints
export POD_HOST=foundation-dev.symphony.com
export POD_PORT=443
export AGENT_HOST=foundation-dev.symphony.com
export AGENT_PORT=443
export KEY_MANAGER_HOST=foundation-dev.symphony.com
export KEY_MANAGER_PORT=443
export KEY_MANAGER_AUTH_HOST=foundation-dev-api.symphony.com
export KEY_MANAGER_AUTH_PORT=443
export POD_SESSION_MANAGER_HOST=foundation-dev-api.symphony.com
export POD_SESSION_MANAGER_PORT=443

# Application info
export CERT_FILE=jira.p12
export CERT_PWD=changeit

# Spring
export SPRING_PROFILES_ACTIVE=$APP_ID